
.home__container{
    /* width: 1215px; */
    margin: 40px 120px 40px 120px;
    /* margin: 120px; */
    margin-top: 60px;
    display: flex;
    position: relative;
    height: 100%;
   
}

.leftsection__section{
    width: calc(100% - 335px);
    padding-right: 40px;
    /* height: 2500px; */
}


.home__container .right__section{
    width: 335px;

}

.Home__bottom__section{
    margin: 0px 120px 40px 120px;
}


@supports (position: sticky) {
    .is-sticky {
      position: sticky;
      top: 75px; 
      /* padding-bottom:50%; */
    }
  }




